<div class="container-fluid text-center">
  <br />
  <br />
  <div class="row">
    <div class="col-12">
      <h1>
        ¿Nos puedes apoyar haciendo una corta encuesta sobre cómo percibes distintas razas de perros y sus cruces?
      </h1>
      <br />
      <h3>Toma menos de tres minutos</h3>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <button type="button" class="btn btn-lg btn-outline-success" (click)="onClickYes()">Sí</button>
    </div>
    <div class="col-md-6 col-sm-12">
      <button type="button" class="btn btn-lg btn-outline-danger" (click)="onClickNo()">No</button>
    </div>
  </div>
</div>