<div class="container-fluid">
  <br />
  <br />
  <!--Title-->
  <div class="row">
    <div class="col-12" id="title">
      <h1>
        <em>
          Juzgan por la portada
        </em>
      </h1>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Quotes-->
  <div class="row section text-center">
    <div class="col-4 quotes">
      <h4>
        <em>
          "¿Ese perro no debería llevar bozal? Se ve peligroso..."
        </em>
      </h4>
    </div>
    <div class="col-4 quotes">
      <h4>
        <em>
          "Hija, no te le acerques que te puede morder."
        </em>
      </h4>
    </div>
    <div class="col-4 quotes">
      <h4>
        <em>
          "Ese es un pitbull, no es para que esté con niños pequeños."
        </em>
      </h4>
    </div>
    <br />
    <div class="col-12">
      <br />
      <p>
        Estas son cosas que hemos escuchado en algún punto.
      </p>
      <p>
        Particularmente, las he escuchado personalmente sobre un perro que conozco y puedo decir que es el más cariñoso
        y tranquilo que he visto.
      </p>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Facts about dog bites-->
  <div class="row section text-center">
    <div class="col-12">
      <h3>
        ¿Sabías que...
      </h3>
      <br />
    </div>
    <div class="col-4 quotes">
      <h4>
        <a href="https://allpetslife.com/dog-breeds-that-bite-the-most/#chihuahua">
          <em>
            ...una de las razas de perros que reporta más mordidas es el Chihuahua?
          </em>
        </a>
      </h4>
    </div>
    <div class="col-4">
      <h4>
        <a href="https://nationalcanineresearchcouncil.com/injurious-dog-bites/medically-attended-dog-bites/">
          <em>
            ...menos del 0.01% de las mordidas de perros sobre humanos requieren tratamiento con hospitalización?
          </em>
        </a>
      </h4>
    </div>
    <div class="col-4">
      <h4>
        <a
          href="https://petkeen.com/dog-bite-statistics/#11_In_2019_only_10_of_dog_bite_deaths_could_be_definitely_linked_to_a_specific_breed">
          <em>
            ...menos del 10% de los incidentes de mordidas pudieron ser atribuidos a una raza específica de perro?
          </em>
        </a>
      </h4>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Facts about other dogs-->
  <div class="row section text-center">
    <div class="col-12">
      <h3>
        Los perros mal llamados "potencialmente peligrosos" no son los únicos que sufren los prejuicios de las personas
      </h3>
      <br />
    </div>
    <div class="col-5 quotes">
      <h4>
        <a
          href="https://www.aspca.org/blog/four-reasons-open-your-mind-older-pets#:~:text=The%20decision%20to%20adopt%20an,of%20younger%20dogs%20and%20puppies.">
          <em>
            Los perros de avanzada edad tienen una tasa de adopción de menos de la mitad que los perros más jóvenes
          </em>
        </a>
      </h4>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5 quotes">
      <h4>
        <a href="https://soar.wichita.edu/bitstream/handle/10057/3647/d10022_DeLeeuw.pdf?sequence=3">
          <em>
            Los perros de pelaje negro y oscuro tienden a tener menos posibilidades de ser adoptados que perros con
            pelaje de otros colores y patrones
          </em>
        </a>
      </h4>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Interviews-->
  <div class="row section text-center">

  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Organizations-->
  <div class="row section text-center">

  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>