<div class="container-fluid">
  <br />
  <br />
  <!--Title-->
  <div class="row">
    <div class="col-12" id="title">
      <h1>
        <em>
          Juzgan por la portada
        </em>
      </h1>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Quotes-->
  <div class="row section text-center">
    <div class="col-4 quotes">
      <h4>
        <em>
          "¿Ese perro no debería llevar bozal? Se ve peligroso..."
        </em>
      </h4>
    </div>
    <div class="col-4 quotes">
      <h4>
        <em>
          "Hija, no te le acerques que te puede morder."
        </em>
      </h4>
    </div>
    <div class="col-4 quotes">
      <h4>
        <em>
          "Ese es un pitbull, no es para que esté con niños pequeños."
        </em>
      </h4>
    </div>
    <br />
    <div class="col-12">
      <br />
      <p>
        Estas son cosas que hemos escuchado en algún punto.
      </p>
      <p>
        Particularmente, las he escuchado personalmente sobre un perro que conozco y puedo decir que es el más cariñoso
        y tranquilo que he visto.
      </p>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Facts about all dogs-->
  <!--Facts about "dangerous" dogs-->
  <!--Ways to help-->
  <!--Organizations-->
</div>