<div class="container-fluid">
  <br />
  <br />
  <!--Title-->
  <div class="row">
    <div class="col-12" id="title">
      <h1>
        <em>
          Juzgan por la portada
        </em>
      </h1>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Quotes-->
  <div class="row section text-center">
    <div class="col-md-4 quotes">
      <h4>
        <em>
          "¿Ese perro no debería llevar bozal? Se ve peligroso..."
        </em>
      </h4>
    </div>
    <div class="col-md-4 col-sm-12 quotes">
      <h4>
        <em>
          "Hija, no te le acerques que te puede morder."
        </em>
      </h4>
    </div>
    <div class="col-md-4 col-sm-12 quotes">
      <h4>
        <em>
          "Ese es un pitbull, no es para que esté con niños pequeños."
        </em>
      </h4>
    </div>
    <br />
    <div class="col-12">
      <br />
      <p>
        Estas son cosas que hemos escuchado en algún punto.
      </p>
      <p>
        Particularmente, las he escuchado personalmente sobre un perro que conozco y puedo decir que es el más cariñoso
        y tranquilo que he visto.
      </p>
      <p>
        <strong>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhCZ9xGBwaOf1q_NVdd9s03bqdfW-B2HHzedFkzRu4_eF3_g/viewform">
            ¡Por favor, ayúdanos llenando una corta encuesta! Toma menos de un minuto.
          </a>
        </strong>
      </p>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Interviews-->
  <div class="row section text-center">
    <div class="col-12">
      <h3>
        Escucha de primera mano a las personas que trabajan día a día por los animales
      </h3>
      <br />
    </div>
    <div class="col-md-6 col-sm-12 quotes">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ePb99v1q0cI" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-6 col-sm-12 quotes">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VTG7xryLgHk" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Facts about dog bites-->
  <div class="row section text-center">
    <div class="col-12">
      <h3>
        ¿Sabías que...
      </h3>
      <br />
    </div>
    <div class="col-md-4 col-sm-12 quotes">
      <h4>
        <a href="https://allpetslife.com/dog-breeds-that-bite-the-most/#chihuahua">
          <em>
            ...una de las razas de perros que reporta más mordidas es el Chihuahua?
          </em>
        </a>
      </h4>
    </div>
    <div class="col-md-4 col-sm-12 quotes">
      <h4>
        <a href="https://nationalcanineresearchcouncil.com/injurious-dog-bites/medically-attended-dog-bites/">
          <em>
            ...menos del 0.01% de las mordidas de perros sobre humanos requieren tratamiento con hospitalización?
          </em>
        </a>
      </h4>
    </div>
    <div class="col-md-4 col-sm-12 quotes">
      <h4>
        <a
          href="https://petkeen.com/dog-bite-statistics/#11_In_2019_only_10_of_dog_bite_deaths_could_be_definitely_linked_to_a_specific_breed">
          <em>
            ...menos del 10% de los incidentes de mordidas pudieron ser atribuidos a una raza específica de perro?
          </em>
        </a>
      </h4>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Facts about other dogs-->
  <div class="row section text-center">
    <div class="col-12">
      <h3>
        Los perros mal llamados "potencialmente peligrosos" no son los únicos que sufren los prejuicios de las personas
      </h3>
      <br />
    </div>
    <div class="col-md-5 col-sm-12 quotes">
      <h4>
        <a
          href="https://www.aspca.org/blog/four-reasons-open-your-mind-older-pets#:~:text=The%20decision%20to%20adopt%20an,of%20younger%20dogs%20and%20puppies.">
          <em>
            Los perros de avanzada edad tienen una tasa de adopción de menos de la mitad que los perros más jóvenes
          </em>
        </a>
      </h4>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5 col-sm-12 quotes">
      <h4>
        <a href="https://soar.wichita.edu/bitstream/handle/10057/3647/d10022_DeLeeuw.pdf?sequence=3">
          <em>
            Los perros de pelaje negro y oscuro tienden a tener menos posibilidades de ser adoptados que perros con
            pelaje de otros colores y patrones
          </em>
        </a>
      </h4>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <!--Organizations-->
  <div class="row section text-center">
    <div class="col-12">
      <h3>
        Conoce las fundaciones de Bogotá que trabajan por estos peluditos
      </h3>
      <br />
    </div>
    <div class="col-md-6 col-sm-12 quotes">
      <h4>
        <a class="orgs" (click)="openPopup(0)">
          <em>
            IDPYBA
          </em>
        </a>
      </h4>
      <br />
      <h4>
        <a class="orgs" (click)="openPopup(1)">
          <em>
            Fundación Tepa
          </em>
        </a>
      </h4>
    </div>
    <br />
    <div class="col-md-6 col-sm-12 quotes">
      <h4>
        <a class="orgs" (click)="openPopup(2)">
          <em>
            Dejando Huella
          </em>
        </a>
      </h4>
      <br />
      <h4>
        <a class="orgs" (click)="openPopup(3)">
          <em>
            Corazón Peludito
          </em>
        </a>
      </h4>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br />
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ currentData.name }}</h4>
      </div>
      <div class="modal-body">
        <p>
          <img id="modal-img" [src]="currentData.image" />
        </p>
        <p>{{ currentData.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="openUrl(currentData.url)">
          Web
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>